<!DOCTYPE html>
{% load socialaccount %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Authentication</title>
		<meta name="description" content="">
		<meta name="viewport" content="wigth=device-wigth, initial-scale=1">
		<link rel="stylesheet" href="">
	</head>
	<body>
		
		<h3>Bine ați venit!</h3>
		
		
		<button type="submit"> <a href="/signup"> SignUp</button>
		<button type="submit"> <a href="/signin"> SignIn</button>
		<button type="submit"> <a href="/signout"> SignOut</button>
		
		{% if user.is_authenticated %}
		<p>Welcome, You are logged in as {{ user.username }}</p>
		{% else %}
		<a href="{% provider_login_url 'google' %}">Login With Google</a>
		{% endif %}
		
		<script src="" async defer></script>
	</body>
</html>